

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
  gap: 120px;
  z-index: 10;
}

.container .box {
  position: relative;
  height: 350px;
  background: #302b63;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.container .box::before {
  content: '';
  position: absolute;
  inset: -10px 50px;
  border-top: 4px solid #B83280;
  border-bottom: 4px solid #B83280;
  z-index: -1;
  transform: skewY(15deg);
  transition: 0.5s ease-in-out;

}

.container .box:hover::before {
  transform: skewY(0deg);
  inset: -10px 40px;
}

.container .box::after {
  content: '';
  position: absolute;
  inset: 60px -10px;
  border-left: 4px solid #B83280;
  border-right: 4px solid #B83280;
  z-index: -1;
  transform: skew(15deg);
  transition: 0.5s ease-in-out;

}

.container .box:hover::after {
  transform: skew(0deg);
  inset: 4px -10px;
}

.container .box .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.container .box .content .icon {
  color: #00C89B;
  width: 220px;
  height: 110px;
  box-shadow: 0 0 0 4px #302b63,
  0 0 0 6px #00C89B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background: #302b63;
  transition: 0.5s ease-in-out;
  overflow: hidden;

}

.container .box:hover .content .icon {
  background: #00C89B;
  color: #302b63;
  box-shadow: 0 0 0 4px #302b63,
  0 0 0 300px #00C89B;

}

.container .box .content .text h3 {
  color: #FFFADE;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.container .box:hover .content .text h3 {
  color: #302b63;
}

.container .box .content .text p {
  color: #FFFADE;
  transition: 0.5s ease-in-out;
}

.container .box:hover .content .text p {
  color: #302b63;
}

.container .box .content .text .link {
  position: relative;
  background: #00C89B;
  color: #302b63;
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}

.container .box:hover .content .text .link {
  background: #302b63;
  color: #00C89B;
}

.buttons {
  position: relative;
  background: #00C89B;
  color: #302b63;
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}

.buttons:hover {
  background: #302b63;
  color: #00C89B;
}

.navlinks {
   display:inline-block;
   margin:0;
   text-transform:uppercase;
   }
.navlinks:after {
  display:block;
  content: '';
  border-bottom: solid 3px #B83280;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navlinks:hover:after { transform: scaleX(1); }

.form-control span {
  color: #B83280; 
}