
.navlinks {
   display:inline-block;
   margin:0;
   text-transform:uppercase;
   }
.navlinks:after {
  display:block;
  content: '';
  border-bottom: solid 3px #B83280;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navlinks:hover:after { transform: scaleX(1); }

.form-control span {
  color: #B83280; 
}